<div class="container" style="z-index: 10; position: relative;">
    <h6 style="font-size: 2em; color: #40006e; text-align: center; text-shadow: 2px 2px #ddd;">
        Lista de Modelos
    </h6>
    <div style=" padding-left: 85%;">
        <a class="btn btn-outline-primary" >
            <span class="material-icons" (click)="abrirCompGuardarMod()"  >add</span>
          </a>
    </div>
    <table class="table" style="width: 100%;">
        <thead>
          <tr style="background: black; color: white;">
            <th scope="col">ID</th>
            <th scope="col">Nombre Modelo</th>
            <th scope="col">Nombre Marca</th>
            <th scope="col">Tipo</th>
            <th scope="col">Precio</th>
            <th scope="col">Fecha Lanzamiento</th>
            <th scope="col">Acciones</th>
         
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mo of listarModelos">
            <th scope="row">{{mo.id}}</th>
            <td>{{mo.nombre}}</td>
            <td>{{mo.marca.nombre}}</td>
            <td>{{mo.tipo}}</td>
            <td>{{mo.precio}}</td>
            <td>{{mo.fechaLanz}}</td>
            <td>
              <a class="btn btn-outline-warning">
                <span class="material-icons" style="z-index: 2;" (click)="abrirCompEditar(mo)">edit</span>
              </a>
              <a class="btn btn-outline-danger">
                <span class="material-icons" style="z-index: 2;" (click)="eliminar(mo)" >delete</span>
              </a>
            </td>
      
          </tr>
        </tbody>
      </table>

</div>